### 문제 1. 아래 링크에 접속하여 퇴근시간 버스승차인원 예측 경진대회 데이터를 다운로드 받아주세요.

- https://dacon.io/competitions/official/229255/data/

### 문제 2. train.csv, test.csv, submission_sample.csv를 읽어서 각각 train, test, submission 변수에 저장해주세요.

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('3train.csv')
test = pd.read_csv('3test.csv')
submission = pd.read_csv('submission_sample.csv')

### 문제 3. train, test, submission에 저장된 데이터프레임의 열 이름을 각각 확인해보세요.

In [3]:
train.columns

Index(['id', 'date', 'bus_route_id', 'in_out', 'station_code', 'station_name',
       'latitude', 'longitude', '6~7_ride', '7~8_ride', '8~9_ride',
       '9~10_ride', '10~11_ride', '11~12_ride', '6~7_takeoff', '7~8_takeoff',
       '8~9_takeoff', '9~10_takeoff', '10~11_takeoff', '11~12_takeoff',
       '18~20_ride'],
      dtype='object')

In [4]:
test.columns

Index(['id', 'date', 'bus_route_id', 'in_out', 'station_code', 'station_name',
       'latitude', 'longitude', '6~7_ride', '7~8_ride', '8~9_ride',
       '9~10_ride', '10~11_ride', '11~12_ride', '6~7_takeoff', '7~8_takeoff',
       '8~9_takeoff', '9~10_takeoff', '10~11_takeoff', '11~12_takeoff'],
      dtype='object')

In [5]:
submission.columns

Index(['id', '18~20_ride'], dtype='object')

### 문제 4. 아래 조건에 맞게 train, test 데이터에서 일부 칼럼만 추출하여 각각 변수에 저장해보세요.

- X_train = train 데이터의 18~20_ride를 제외한 모든 ride 칼럼, 모든 takeoff 칼럼
- y_train = train 데이터의 18~20_ride 칼럼
- X_test = test 데이터의 모든 ride 칼럼, takeoff 칼럼

In [13]:
# 강사님 답안
features = ['6~7_ride', '7~8_ride', '8~9_ride', '9~10_ride', '10~11_ride', '11~12_ride', '6~7_takeoff', '7~8_takeoff', '8~9_takeoff', '9~10_takeoff', '10~11_takeoff', '11~12_takeoff']
X_train = train[features]
y_train = train['18~20_ride']
X_test = test[features]

In [4]:
X_train = train.drop(['id', 'date', 'bus_route_id', 'in_out', 'station_code', 'station_name', 'latitude', 'longitude', '18~20_ride'], axis=1)
X_train
#X_train = train.iloc[:, 8:19] 이것도 가능 이게 더 편하네..

,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
0,0.0,1.0,2.0,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,4.0,4.0,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,17.0,6.0,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
415418,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415419,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
415421,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0

In [5]:
y_train = train[['18~20_ride']] # 두번 감싸줘야 dataframe형태로 나옴.
y_train

        18~20_ride
0              0.0
1              5.0
2              2.0
3             53.0
4              0.0
...            ...
415418         0.0
415419         0.0
415420         0.0
415421         0.0
415422         0.0

[415423 rows x 1 columns]

In [6]:
X_test = test.drop(['id', 'date', 'bus_route_id', 'in_out', 'station_code', 'station_name', 'latitude', 'longitude'], axis=1)
X_test

,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
0,4.0,4.0,7.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,6.0,6.0,1.0,8.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,4.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,11.0,18.0,8.0,26.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
228165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
228166,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
228167,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
228168,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
228169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0

### 문제 5. kfold 변수에 sklearn.model_selection에서 제공하는 KFold 클래스를 저장해주세요.
- 수업시간에 StratifiedKFold를 정의한 것과 같은 방식입니다.
- n_splits = 5, shuffle = True, random_state = 0 조건 입력
- kfold는 클래스의 분포에 상관없이 마구잡이로 나누는 클래스다. StratifiedKFold랑 다르다.

In [7]:
from sklearn.model_selection import KFold 
kfold = KFold(n_splits=5, shuffle = True, random_state = 0)

### 문제 6. model 변수에 sklearn.ensemble에서 제공하는 RandomForestRegressor 클래스를 저장해주세요.

- n_estimators = 50
- min_samples_leaf = 1000
- random_state = 0
- n_jobs = -1
- verbose = 1

In [9]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 50, min_samples_leaf = 1000, random_state = 0, n_jobs = -1, verbose = 1)

In [10]:
def train_model(X, y):
    
    model = RandomForestRegressor(n_estimators = 50, min_samples_leaf = 1000, random_state = 0, n_jobs = -1, verbose = 1)
    model.fit(X, y)
    
    return model

### 문제 7. 5번 문제에서 정의한 kfold를 활용해 model에 대한 교차 검증을 실시해주세요.
- 교차 검증 시 loss 는 RMSE를 사용합니다. 
- RMSE = (실제값 - 예측값)^2 의 평균을 루트 씌운 값
- 검증 할 때마다 loss 값을 loss_list라는 리스트에 저장해주세요.

In [11]:
from sklearn.metrics import mean_squared_error


loss_list = []


for trn_idx, val_idx in kfold.split(X_train, y_train):
    
    X_trn, X_val, y_trn, y_val = X_train.iloc[trn_idx], X_train.iloc[val_idx], y_train.iloc[trn_idx], y_train.iloc[val_idx]
    trained_model = train_model(X_trn, y_trn)
    y_pred = trained_model.predict(X_val) #탑승한 인원수가 궁금한거기 때문에 proba를 할 필요는 없다.
    loss = mean_squared_error(y_val, y_pred, squared=False)
    print(loss)
    loss_list.append(loss)

<ipython-input-10-5fbd9207563c>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   17.0s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   24.0s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done  50 out of  50 | elapsed:    0.0s finished

3.686529626208303

<ipython-input-10-5fbd9207563c>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   17.7s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   24.5s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done  50 out of  50 | elapsed:    0.0s finished
<ipython-input-10-5fbd9207563c>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)

3.7211659421348346

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   22.1s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done  50 out of  50 | elapsed:    0.0s finished
<ipython-input-10-5fbd9207563c>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

4.116116632567244

[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   16.7s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   22.2s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done  50 out of  50 | elapsed:    0.0s finished
<ipython-input-10-5fbd9207563c>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X, y)
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

3.7555963893926685

[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   19.6s

3.697919147484447

[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   25.1s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done  50 out of  50 | elapsed:    0.0s finished

### 문제 8. loss_list에 기록된 값들의 평균을 구해주세요.

In [22]:
loss_list

[3.825886356135094,
 3.717287483616243,
 3.6605435411656755,
 3.77614892859352,
 4.033736093296797]

In [23]:
import numpy as np
a = np.array(loss_list)
means = np.mean(a)
means

3.802720480561466